Source: f2ray-core
Section: net
Priority: optional
Maintainer: ymshenyu <ymshenyu@gmail.com>
Build-Depends:  debhelper-compat (= 12),
                dh-golang,
Standards-Version: 4.5.0
Homepage: https://github.com/frogwall/f2ray-core
#Vcs-Browser: https://salsa.debian.org/debian/f2ray-core
#Vcs-Git: https://salsa.debian.org/debian/f2ray-core.git
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/frogwall/f2ray-core/v5

Package: f2ray
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: f2ray-domain-list-community,
            f2ray-geoip,
            f2ray-geoip-only-cn-private
Description: Enhanced anti-censorship platform based on V2Ray
 F2Ray is an enhanced edition of V2Ray with advanced features.
 It secures your network connections and protects your privacy
 with additional protocols and capabilities.

Package: f2ray-domain-list-community
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enhanced anti-censorship platform (routing file)
 F2Ray is an enhanced edition of V2Ray with advanced features.
 It secures your network connections and protects your privacy
 with additional protocols and capabilities.

Package: f2ray-geoip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enhanced anti-censorship platform (routing file)
 F2Ray is an enhanced edition of V2Ray with advanced features.
 It secures your network connections and protects your privacy
 with additional protocols and capabilities.

Package: f2ray-geoip-only-cn-private
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enhanced anti-censorship platform (routing file)
 F2Ray is an enhanced edition of V2Ray with advanced features.
 It secures your network connections and protects your privacy
 with additional protocols and capabilities.
